* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/***************************************************
					            BODY
***************************************************/
@media (prefers-color-scheme: light) {
body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
}
@media (prefers-color-scheme: dark) {
body {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

/* Texts and links */
li, a{
	font-size: 13px; /* Font size of links */
	color: #fff; /* Text and link color */
	text-decoration: none; /* Remove the underscore from links */
	list-style-type: none; /* Remove the dots from the side of the links */
}


/***************************************************
					  MIDDLE OF THE WEBSITE
***************************************************/
@media (prefers-color-scheme: light) {
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  padding: 40px;
  gap: 40px;
  border-radius: 15px;
  flex-wrap: wrap; /* Allows breaking on small screens */
}
}
@media (prefers-color-scheme: dark) {
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  background-color: #121212;
  padding: 40px;
  gap: 40px;
  border-radius: 15px;
  flex-wrap: wrap; /* Allows breaking on small screens */
}
}

/***************************************************
					  TEXT ON THE LEFT SIDE
***************************************************/
.left {
  flex: 1;
  min-width: 280px;
}

.left p {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10px;
}

.left h4 {
  font-size: 2rem;
  color: #00acff;
  margin-bottom: 2rem;
}

.left .btn {
  padding: 1rem 3rem;
  background-color: #00acff;
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.left .btn:hover {
  box-shadow: 0 1px 4px #00acff;
}

/***************************************************
					  IMAGE ON THE RIGHT SIDE
***************************************************/
.right {
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 100%;
  max-width: 400px;
  animation: float 1.8s infinite alternate;
}

/* Animates the image */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(.85,.85);
	}
}

/***************************************************
					MAKES EVERYTHING RESPONSIVE
***************************************************/
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .left, .right {
    align-items: center;
    justify-content: center;
  }

  .left h4 {
    font-size: 1.5rem;
  }

  .left p {
    font-size: 1.5rem;
  }

  .left .btn {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}


