*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

/* ============================================
     				BODY 
============================================== */
@media (prefers-color-scheme: light) {
html, body {
	width: 100%;
	background-color: #fff;

	/* Makes the middle of the website fixed, without the footer moving up when no search results are found or there are few results */
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
}
@media (prefers-color-scheme: dark) {
html, body {
	width: 100%;
	background-color: #09090b;

	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
}


/* ============================================
     				NAVBAR 
============================================== */
/* Links amd texts */
li, a{
	font-size: 13px; /* Font size of links */
	color: #fff; /* Text and link color */
	text-decoration: none; /* Remove the underscore from links */
	list-style-type: none; /* Remove the dots from the side of the links */
}

/* ============================================
     				HEADER 
============================================== */
@media (prefers-color-scheme: light) {
	header {
	display: flex;
	justify-content: space-between; /* Separates links from each other */
	align-items: center; /* Centers the text in the middle of the bar */
	padding: 1px 15px; /* Height and width of the navbar */
	background-color: #ffffff; /* Color of the navbar */
	position: relative;
	transition: .5s;	
	}
}
@media (prefers-color-scheme: dark) {
	header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px 15px;
	background-color: #121212;
	position: relative;
	box-shadow: rgb(0 0 0 / 15%) 0px 13px 30px -12px; /* Shadow under the bar */
	transition: .5s;
	}
}

/* Navbar */
nav {
	max-width: 1120px; /* Sets the maximum width of the bar */
	margin-left: auto; /* Leave the links on the right side of the screen */
	padding: 16px; /* Prevents text/links from sticking to the corners, giving them some spacing */
}

.nav-links{
	list-style: none;
}

.nav-links li{
	display: inline-block;
	padding: 0px 20px;
	transition: 0.2s; /* Makes the color change smoother when hovering over it */
}

.nav-links li a:hover{
	color: #00acff; /* Makes it show a color when you hover over the link */
}

/* ============================================
     		MIDDLE OF THE WEBSITE
============================================== */
main {
	flex: 1; /* Makes the main occupy all available vertical space */
}
@media (prefers-color-scheme: light) {
	.container{
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background: #ffffff; /* Website background color */
	transition: .5s;
}
}
@media (prefers-color-scheme: dark) {
	.container{
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background: #121212;
	transition: .5s;
}
}

/* ============================================
     			WEBSITE TITLE
============================================== */
@media (prefers-color-scheme: light) {
	h1 {
	font-family: century gothic;
	color: #000000;
	letter-spacing: 3px;
	font-size: 60px;
	margin-bottom: 30px;
}
.title {
	color:#00acff; /* Secondary title color */
}
}
@media (prefers-color-scheme: dark) {
h1 {
	font-family: century gothic;
	color: #fff;
	letter-spacing: 3px;
	font-size: 60px;
	margin-bottom: 30px;
}
.title {
	color:#00acff;
}
}

/* ============================================
     			  SEARCH BAR
============================================== */
/* Search bar */
@media (prefers-color-scheme: light) {
	form {
	width: 90%;
	max-width: 600px; /* Search bar width */	
	height: 57px; /* Search bar height */
	background: #ffffff; /* Background color of the bar where you type your search query */
	display: flex;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2); /* Shadow under the bar */
	border: none; /* Border around the search bar */
}
}
@media (prefers-color-scheme: dark) {
	form {
	width: 90%;
	max-width: 600px;
	height: 60px;
	background: #1d1d1e;
	display: flex;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2); /* Shadow under the bar */
}
}

/* Form settings, where you type what you want to search for */
@media (prefers-color-scheme: light) {
	form input{
	flex: 1;
	height: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	color: #000000; /* Text color when typing in search */
	font-size: 18px;
	padding: 0 30px;
}
}
@media (prefers-color-scheme: dark) {
form input{
	flex: 1;
	height: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	color: #fff;
	font-size: 18px;
	padding: 0 30px;
}
}

/* Search button settings */
@media (prefers-color-scheme: light) {
	form button {
	border: 0;
	/* border-radius: 50%; It gives the button a different look, but it's good too. */
	width: 60px;
	/* height: 55px; */
	background: #00acff;
	cursor: pointer;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 100%;
	outline: 0;
	
	/* Round off the edges of the remaining sides.
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	*/
}

form button img {
	width: 20px;
}

form button:hover {
	background: #00aaffbe; /* Color of the search button when hovering over it */
}

::placeholder{
	color: #5c5c5c; /* Text color in the search bar before typing */
	font-size: 18px;
}
}
@media (prefers-color-scheme: dark) {
	form button{
	border: 0;
	/* border-radius: 50%; */
	width: 60px;
	/* height: 55px; */
	background: #00acff;
	cursor: pointer;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 100%;
	outline: 0;
}

form button img {
	width: 20px;
}

form button:hover {
	background: #00aaffbe;
}

::placeholder{
	color: #5c5c5c;
	font-size: 18px;
}
}

/* ============================================
     		SEARCH TABLE (RESULTS PAGE) 
============================================== */
.items {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 12px;

	padding: 14px;
	width: 100%;
	max-height: 421px;
	overflow-y: auto;
}
.right {
	margin-top: 15px;
}
/* Table with the list of sites when performing the search */
table {
	width: 40%;
}
table a {
	color: #0125f1; /* Links color */
	font-size: 18px; /* Link font size */
}
/* Title of websites in search */
h3 {
	margin: 10px 0px 0px 0px; /* Gives the distance between one site and another */
}


/* ============================================
     				FOOTER 
============================================== */
@media (prefers-color-scheme: light) {
	.footer {
	position: relative;
	width: 100%;
	background: #ffffff;
	max-height: 66%;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
}
@media (prefers-color-scheme: dark) {
.footer {
	position: relative;
	width: 100%;
	background: #121212;
	max-height: 66%;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
}
  
.menu {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
}
  
.menu-elem {
	list-style: none;
}
@media (prefers-color-scheme: light) {
.menu-icon {
	color: rgb(2, 2, 2); /* Links color */
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}
  
.menu-icon:hover {
 opacity: 1;
 color: #00acff; /* Color when hovering over links */
}
}
@media (prefers-color-scheme: dark) {
.menu-icon {
	color: white;
	font-size: 15px;
	display: inline-block;
	text-decoration: none;
	margin: 5px 10px;
	opacity: 0.5;
	transition: 0.3s;
}
  
.menu-icon:hover {
 opacity: 1;
 color: #00acff;
}
}

/* Footer text */
@media (prefers-color-scheme: light) {
.footer-text {
	color: rgb(2, 2, 2); /* Links color */
	font-size: 15px;
	text-decoration: none;
	opacity: 0.5;
}
}

@media (prefers-color-scheme: dark) {
.footer-text {
	color: white;
	font-size: 15px;
	text-decoration: none;
	opacity: 0.5;
}
}

/* ============================================
     			SETTINGS BUTTON
============================================== */
.settings-wrapper {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	width: 90%;
	max-width: 600px;
}

#btn-config {
	background-color: transparent;
	border: 1px solid #00acff;
	color: #00acff;
	padding: 6px 14px;
	border-radius: 999px;
	cursor: pointer;
	font-size: 13px;
	transition: 0.2s;
}

@media (prefers-color-scheme: light) {
	#btn-config {
		color: #00acff;
		border-color: #00acff;
	}
	#btn-config:hover {
		background: #00accf;
		color: #fff;
	}
}
@media (prefers-color-scheme: dark) {
	#btn-config {
		color: #00acff;
		border-color: #00acff;
	}
	#btn-config:hover {
		background: #00accf;
		color: #000;
	}
}

@media (prefers-color-scheme: light) {
.config-popup {
  color: #000; /* Popup texts color */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);

  display: none;
  flex-direction: column;
  z-index: 9999;
}
}

@media (prefers-color-scheme: dark) {
.config-popup {
  color: #fff; /* Popup texts color */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  background: #302f2f !important; /* Options background */
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);

  display: none;
  flex-direction: column;
  z-index: 9999;
}
}

/* Popup settings header */
@media (prefers-color-scheme: light) {
.config-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;

  background-color: #fafafa; /* Settings text background */
  border-top-left-radius: 12px; /* Left border */
  border-top-right-radius: 12px; /* Right border */
  overflow: hidden;
}
}
@media (prefers-color-scheme: dark) {
.config-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;

  background-color: #121212; /* Settings text background */
  border-top-left-radius: 12px; /* Left border */
  border-top-right-radius: 12px; /* Right border */
  overflow: hidden;
}
}

.config-header button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

/* Options box */
.config-body {
  padding: 12px;
}
@media (prefers-color-scheme: light) {
#close-config {
	color: #000; /* Close button (X) color */
}
}
@media (prefers-color-scheme: dark) {
#close-config {
	color: #fff; /* Close button (X) color */
}
}

/* Font options box */
@media (prefers-color-scheme: light) {
.config-body select {
  width: 140px;
  padding: 6px 10px;

  border-radius: 0;
  border: 1px solid #999;

  background: transparent;
  color: inherit;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
}
@media (prefers-color-scheme: dark) {
.config-body select {
  width: 140px;
  padding: 6px 10px;

  border-radius: 0;
  border: 1px solid #999;

  background-color: #121212;
  color: inherit;
  outline: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
}

/* Popup overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	display: none;
	z-index: 9998;
}

/* Switch */
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background: #ccc;
	transition: 0.3s;
	border-radius: 20px;
}

.slider::before {
	content: "";
	position: absolute;
	height: 18px;
	width: 18px;
	left: 3px;
	top: 3px;
	background: white;
	border-radius: 50%;
	transition: 0.3s;
}

.switch input:checked + .slider {
	background: #00acff;
}

.switch input:checked + .slider::before {
	transform: translateX(22px);
}

/* ============================================
     		DARK MODE VIA SWITCH
============================================== */
/* ---------- SWITCH DARK MODE ---------- */
body.dark html, body.dark body {
	background-color: #09090b !important;
}

body.dark header {
	background-color: #121212 !important;
	box-shadow: rgb(0 0 0 / 15%) 0px 13px 30px -12px !important; /* Shadow under the bar */
	}

body.dark .container {
	background: #121212 !important;
}

body.dark h1 {
	color: #fff !important;
}
body.dark .title {
	color:#00acff !important;
}

body.dark form {
	background: #1d1d1e !important;
	box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2) !important; /* Shadow under the bar */
}

body.dark form input {
	color: #fff !important;
}

body.dark form button {
	background: #00acff !important;
}

body.dark form button:hover {
	background: #00aaffbe !important;
}

body.dark ::placeholder {
	color: #5c5c5c !important;
}

body.dark .footer {
	background: #121212 !important;
}
body.dark .footer-text {
	color: white !important;
}
body.dark .menu-icon {
	color: white !important;
}
body.dark .menu-icon:hover {
 color: #00acff !important; /* Color when hovering over links */
}

/* Settings Popup */
body.dark .config-popup {
  background: #302f2f !important; /* Options background */
  box-shadow: 0 10px 30px rgba(0,0,0,.2) !important;
  color: #fff; /* Settings popup texts colors */
}

body.dark .config-header {
  border-bottom: 1px solid #ddd !important;
  background-color: #121212 !important; /* Settings text background */
  color: #fff; /* "Settings" etxt color */ 
}
body.dark #close-config {
	color: #fff; /* Close button (X) color */
}

body.dark .config-body select {
	background-color: #121212;
}
/* Footer */
body.dark .footer {
  background: #121212 !important;
}
body.dark .menu-icon {
	color: white !important;
}
body.dark .footer-text {
	color: white !important;
}
body.dark .menu-icon:hover {
 color: #00acff !important; /* Color when hovering over links */
}
/* ---------- SWITCH LIGHT MODE ---------- */
body.light .html, body.light .body {
	background-color: #09090b !important;
}

body.light .header {
	background-color: #121212 !important;
	box-shadow: rgb(0 0 0 / 15%) 0px 13px 30px -12px !important; /* Shadow under the bar */
}

body.light .container {
	background: #ffffff !important; /* Website background color */
}

body.light 	h1 {
	color: #000000 !important;
}
body.light .title {
	color:#00acff !important; /* Secondary title color */
}

body.light form {
	background: #ffffff !important; /* Background color of the bar where you type your search query */
	box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.2) !important; /* Shadow under the bar */
}

body.light form input {
	color: #000000 !important; /* Text color when typing in search */
}

body.light form button {
	background: #00acff !important;
}

body.light form button:hover {
	background: #00aaffbe !important; /* Color of the search button when hovering over it */
}

::placeholder {
	color: #5c5c5c !important; /* Text color in the search bar before typing */
}

body.light .menu-icon {
	color: rgb(2, 2, 2) !important; /* Links color */
}
  
body.light .menu-icon:hover {
 color: #00acff !important; /* Color when hovering over links */
}

body.light .footer-text {
	color: rgb(2, 2, 2) !important; /* Links color */
}